@import "shared/styles/variables.scss";

.eventContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 6rem;
}

.eventMain {
  flex: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.event-layout-wrapper {
  display: none;
  visibility: hidden;
  margin: -2rem;
  padding: 0 2rem;

  > .event-layout {
    > .eventLayoutVenue {
      > img {
        width: 100%;
      }
    }

    > .event-content {
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      > .left {
        width: 100%;
        padding-right: 0;
        padding-bottom: 2rem;

        > .title {
          font-size: 2rem;
        }

        > .speakers {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 1rem;

          > span {
            width: 100%;
          }
        }

        > .location {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          > span {
            width: 100%;
          }
        }

        > .description {
          margin-top: 0rem;
        }

        > .schedule {
          position: relative;

          > .fish {
            position: absolute;
            left: calc(50% + 5vw);
            top: calc(50% - 7.5vw);

            > img {
              height: 10vw;
            }
          }

          > .schedule-slot {
            width: 50%;

            > .schedule-time {
              font-size: 0.9rem;
              position: relative;
              padding-left: 1.5rem;

              &:before {
                content: "";
                position: absolute;
                width: 0.7rem;
                height: 0.7rem;
                top: 0.2rem;
                left: 0;
                border-radius: 2rem;
              }

              &.red:before {
                background: $light-gray;
              }

              &.light:before {
                background: $edgy-black;
              }
            }

            > .schedule-title {
              font-weight: 600;
              margin-left: 0.25rem;
              padding-left: 1rem;
              font-size: 1.1rem;
              height: 8rem;

              &.red {
                border-left: 3px solid $light-gray;
              }

              &.light {
                border-left: 3px solid $edgy-black;
              }
            }

            > .dashed {
              border-left-style: dashed !important;
            }
          }
        }

        > .map {
          display: flex;
          flex-direction: column;

          > .map-details {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 30rem;

            & > .map-address {
              font-size: 0.8rem;
              padding-bottom: 1rem;

              > div:last-child {
                font-size: 1rem;
                font-weight: 600;
              }
            }

            & > .map-direction  {
              font-size: 0.7rem;
              padding-bottom: 2rem;
            }
          }
        }

        > .speaker-details {
          display: flex;

          > .speaker {
            width: calc(50% - 1rem);

            &:first-child {
              margin-right: 2rem;
            }

            &:last-child {
              margin-left: 0rem;
            }

            > .speaker-name {
              margin: 0.5rem 0 1rem;
              font-size: 1.2rem;
            }

            > .speaker-bio {
              font-size: 0.8rem;
            }

            > .speaker-image {
              > img {
                width: 100%;
              }
            }
          }
        }

        > .host-details {
          display: flex;

          > .host {
            width: 50% !important;
            max-width: 17rem;

            &:first-child {
              margin: 0 4rem 0 0 !important;
            }

            // &:last-child {
            //   margin-left: 0 !important;
            // }

            > .host-name {
              margin: 0.5rem 0 1rem;
            }

            > .host-bio {
              font-size: 0.8rem;
            }

            > .host-image {
              > img {
                width: 100%;
              }
            }
          }
        }

        > .brand-details {
          display: flex;

          > .brand {
            width: 50% !important;
            max-width: 17rem;

            &:first-child {
              margin: 0 4rem 0 0 !important;
            }

            &:last-child {
              margin-left: 0 !important;
            }

            > .brand-name {
              margin: 1rem 0;
            }

            > .brand-bio {
              font-size: 0.8rem;
            }

            > .brand-image {
              background-color: $light-gray;

              > img {
                width: 100%;
              }
            }
          }
        }
      }

      > .right {
        > .ticket {
          position: relative;
          margin-right: 0;
          background: $edgy-black;
          border-radius: 1rem;
          padding: 2rem;
          top: 2rem;
          margin-bottom: 4rem;

          > .ticket-top {
            > .ticket-header {
              display: flex;
              justify-content: space-between;

              > .ticket-logo {
                width: 5rem;

                > img {
                  width: 100%;
                }
              }

              > .date {
                text-align: center;

                > .month {
                  color: #9a9da0;
                  margin-bottom: -7px;
                }

                > .day {
                  color: #e8e8e8;
                  font-size: 2rem;
                  font-weight: bold;
                }

                > .year {
                  color: #9a9da0;
                  line-height: 1;
                  margin-top: -3px;
                }
              }
            }
          }

          > .ticket-center {
            width: 100%;
            padding: 3rem 1rem 2rem;
            margin: 0 -1rem;
            border-bottom: 1px #e8e8e8 dashed;
            position: relative;

            &:before {
              content: "";
              width: 3rem;
              height: 3rem;
              left: -2.5rem;
              bottom: -1.5rem;
              border-radius: 2rem;
              background: $light-gray;
              position: absolute;

              .red & {
                background: $edgy-red;
              }
            }

            &:after {
              content: "";
              width: 3rem;
              height: 3rem;
              right: -2.5rem;
              bottom: -1.5rem;
              border-radius: 2rem;
              background: $light-gray;
              position: absolute;

              .red & {
                background: $edgy-red;
              }
            }

            > .ticket-name {
              width: 75%;
              font-size: 28px;
              color: #e8e8e8;
            }
          }

          > .ticket-bottom {
            margin-top: 1rem;

            > .ticket-location {
              margin: 1rem 0;

              > .label {
                font-size: 0.8rem;
                color: #9a9da0;
              }

              > .value {
                color: #e8e8e8;
                margin-top: 0.2rem;
                font-size: 1.2rem;
              }
            }

            > .ticket-time {
              display: flex;
              justify-content: space-between;
              // margin: 2rem 0;
              margin: 2rem 0 0;

              > .left,
              > .right {
                > .label {
                  font-size: 0.8rem;
                  color: #9a9da0;
                }

                > .value {
                  color: #e8e8e8;
                  margin-top: 0.2rem;
                  font-size: 1.2rem;
                }
              }
            }

            > .ticket-claim {
              display: none;

              > button {
                width: 100%;
                border: 0;
                height: 3rem;
                font-size: 1rem;
                cursor: pointer;
                font-family: "Manrope";
                font-weight: 600;
                color: $edgy-black;
                background: $light-gray;
                transition: all 0.2s ease 0s;

                &:disabled {
                  background: #c3c4c6;
                  color: #3d4248;
                  pointer-events: none;
                }

                &:hover {
                  background: $eerie-black;
                  color: $light-gray;
                  box-shadow: 5px 5px 5px -5px $edgy-black;
                  transform: scale(1.02);
                }
              }
            }
          }
        }
      }

      > .status-message {
        position: absolute;
        bottom: 0px;
        justify-content: center;
        width: calc(100% - 2rem);
        background: $edgy-black;
        align-items: center;
        display: flex;
        margin-right: 11rem;
        padding: 1rem;
        text-align: center;
      }
    }
  }
}

.hyperlink {
  font-weight: bold;
  cursor: pointer;
  color: $edgy-red;
  text-decoration: none;

  .red & {
    color: $light-gray;
  }
}

.arrow-button {
  height: 3rem;
  margin: 6rem 0 0;
  display: flex;
  align-items: center;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
  position: relative;
  justify-content: space-between;
  cursor: pointer;

  .light & {
    border-color: $edgy-black;
  }

  &:hover {
    font-weight: 600;
  }

  & > .text {
    font-size: 3rem;
    position: relative;
  }

  & > img {
    width: 3rem;
    margin: 5px -5px 5px;
  }
}

.spinner {
  font-size: 1.3rem;
  animation: spin infinite 3s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Desktop
@media (min-width: 1100px) {
  .event-layout-wrapper {
    display: flex;
    visibility: visible;
    padding: 0;
    width: calc(100vw - 14rem);
    margin: 0;

    .event-layout {
      margin-left: 2rem;
      margin-top: 4rem;

      .event-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding-bottom: 7rem;

        > .left {
          position: relative;
          width: 60%;
          padding-right: 4rem;
          padding-bottom: 2rem;

          > .title {
            margin: 4rem 0 2rem;
            font-size: 2rem;
            padding-top: 2.5rem;
          }

          > .description {
            margin-top: 2rem;

            > p {
              margin-top: 0;
              text-align: justify;
            }
          }

          > hr {
            margin: 6rem 0 4rem;
            border-top: 1px solid $edgy-black;
            display: block;

            .red & {
              border-color: $light-gray;
            }
          }

          > .map {
            display: flex;
            flex-direction: row;

            > .map-details {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;

              & > .map-address {
                font-size: 0.8rem;

                > div:last-child {
                  font-size: 1rem;
                  font-weight: 500;
                }
              }

              & > .map-direction {
                font-size: 0.6rem;

                > div:last-child {
                  font-size: 0.9rem;
                  font-weight: 600;
                }
              }
            }
          }

          > .speaker-details {
            display: flex;

            > .speaker {
              width: 50%;
              max-width: 17rem;

              &:first-child {
                margin: 0 4rem 0 0;
              }

              &:last-child {
                margin-left: 0;
              }

              > .speaker-name {
                margin: 0.5rem 0 1rem;
              }

              > .speaker-bio {
                font-size: 0.8rem;
              }

              > .speaker-image {
                > img {
                  width: 100%;
                }
              }
            }
          }

          > .host-details {
            display: flex;

            > .host {
              width: 50%;
              max-width: 17rem;

              &:first-child {
                margin: 0 4rem 0 0;
              }

              // &:last-child {
              //   margin-left: 0 ;
              // }

              > .host-name {
                margin: 0.5rem 0 1rem;
              }

              > .host-bio {
                font-size: 0.8rem;
              }

              > .host-image {
                > img {
                  width: 100%;
                }
              }
            }
          }

          > .brand-details {
            display: flex;

            > .brand {
              width: 50%;
              max-width: 17rem;

              &:first-child {
                margin: 0 4rem 0 0;
              }

              &:last-child {
                margin-left: 0;
              }

              > .brand-name {
                margin: 1rem 0;
              }

              > .brand-bio {
                font-size: 0.8rem;
              }

              > .brand-image {
                > img {
                  width: 100%;
                }
              }
            }
          }
        }

        > .right {
          width: 40%;
          position: relative;

          > .ticket {
            position: sticky;
            margin-right: 0rem;
            background: $edgy-black;
            border-radius: 1rem;
            padding: 2rem;
            top: 2rem;
            margin-bottom: 4rem;

            > .ticket-top {
              display: flex;

              > .ticket-header {
                display: flex;
                justify-content: space-between;
                width: 100%;

                > .ticket-logo {
                  width: 5rem;

                  > img {
                    width: 100%;
                  }
                }

                > .date {
                  text-align: center;

                  > .month {
                    color: #9a9da0;
                    margin-bottom: -7px;
                  }

                  > .day {
                    color: #e8e8e8;
                    font-size: 2rem;
                    font-weight: bold;
                  }

                  > .year {
                    color: #9a9da0;
                    line-height: 1;
                    margin-top: -3px;
                  }
                }
              }
            }

            > .ticket-center {
              width: 100%;
              padding: 3rem 1rem 2rem;
              margin: 0 -1rem;
              border-bottom: 1px #e8e8e8 dashed;
              position: relative;

              &:before {
                content: "";
                width: 3rem;
                height: 3rem;
                left: -2.5rem;
                bottom: -1.5rem;
                border-radius: 2rem;
                background: $light-gray;
                position: absolute;

                .red & {
                  background: $edgy-red;
                }
              }

              &:after {
                content: "";
                width: 3rem;
                height: 3rem;
                right: -2.5rem;
                bottom: -1.5rem;
                border-radius: 2rem;
                background: $light-gray;
                position: absolute;

                .red & {
                  background: $edgy-red;
                }
              }

              > .ticket-name {
                width: 75%;
                font-size: 28px;
                color: #e8e8e8;
              }
            }

            > .ticket-bottom {
              margin-top: 1rem;

              > .ticket-location {
                margin: 1rem 0;

                > .label {
                  font-size: 0.8rem;
                  color: #9a9da0;
                }

                > .value {
                  color: #e8e8e8;
                  margin-top: 0.2rem;
                  font-size: 1.2rem;
                }
              }

              > .ticket-time {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0;

                > .left,
                > .right {
                  > .label {
                    font-size: 0.8rem;
                    color: #9a9da0;
                  }

                  > .value {
                    color: #e8e8e8;
                    margin-top: 0.2rem;
                    font-size: 1.2rem;
                  }
                }
              }

              > .ticket-claim {
                > button {
                  width: 100%;
                  border: 0;
                  height: 3rem;
                  font-size: 1rem;
                  cursor: pointer;
                  font-family: "Manrope";
                  background: $light-gray;
                  color: $light-gray;
                  background: $edgy-black;
                  transition: all 0.2s ease 0s;

                  &:disabled {
                    background: #c3c4c6;
                    color: #3d4248;
                    pointer-events: none;
                  }

                  &:hover {
                    background: $edgy-red;
                    box-shadow: 5px 5px 5px -5px $light-gray;
                    transform: scale(1.02);
                  }
                }
              }
            }
          }
        }

        > .status-message {
          position: absolute;
          bottom: 0px;
          justify-content: center;
          width: calc(100% - 2rem);
          background: $edgy-black;
          align-items: center;
          display: flex;
          margin-right: 11rem;
          padding: 1rem;
        }
      }
    }
  }

  .eventMain {
    padding: 0;
  }

  .eventLayoutVenue {
    width: 100%;

    & > img {
      width: 100%;
      max-height: 24rem;
      object-fit: cover;
    }
  }

  .eventContainer {
    flex-direction: row;
    padding-top: 0;
  }

  .eventMain {
    flex-direction: row;
    padding: 0 0 0 0;
  }
}
