@import "../../styles/variables.scss";

.subscribeFormWrapper {
  text-align: center;
  bottom: 8rem;
  width: calc(100% - 8rem);
  padding: 1rem;
  align-items: flex-end;
  background: #141921;
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  justify-content: space-between;
  padding: 1rem 2rem 2rem;
  position: absolute;
}

.notifyMeButton {
  color: #141921;
  border-style: none;
  font-size: 12px;
  background: #ffffff;
  border-radius: 0;
  padding: 12px 24px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: all 0.5s ease 0s;
  cursor: pointer;
  width: 100%;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-family: "Manrope";
}

.notifyMeButton:hover {
  transform: scale(1.02);
}

.notifyMeInput {
  height: 35px;
  font-family: "Manrope";
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 0 5px;
  width: 100%;
  font-size: 12px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #efeeef;
  color: $light-gray;
  text-align: center;
}

.notifyMeInput::placeholder {
  text-transform: lowercase;
  letter-spacing: 2px;
  text-align: center;
}

.notifyMeInput:focus,
.notifyMeInput:focus-visible {
  outline: transparent auto 0;
}

.form-label {
  text-transform: lowercase;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(
    180deg,
    rgb(239 239 239) 20%,
    rgb(239 239 239) 35%,
    rgb(225, 59, 58) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1100px) {
  .subscribeFormWrapper {
    text-align: left;
    border-right: 30px solid $light-gray;
    align-items: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49rem;
    height: 5rem;
    background: rgba(1, 8, 18, 0.9);
    padding: 1.5rem 2rem;
  }

  .form-label {
    position: absolute;
    top: 1.5rem;
    font-weight: 700;
    left: 2.3rem;
    text-transform: lowercase;
    font-size: 0.9rem;
    background: -webkit-linear-gradient(
      180deg,
      rgb(239, 239, 239) 20%,
      rgb(239, 239, 239) 35%,
      rgb(225, 59, 58) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .notifyMeInput {
    width: 100%;
    margin-bottom: 0;
    padding: 3px 5px;
    margin-right: 2rem;
    background: none;
    font-size: 12px;
    color: $light-gray;
  }

  .notifyMeButton {
    width: 150px;
    font-size: 12px;
  }

  .notifyMeInput,
  .notifyMeInput::placeholder {
    text-align: left;
  }
}
