.subscribeFormWrapper {
  align-items: flex-end;
  background: #141921;
  bottom: -6rem;
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  justify-content: space-between;
  padding: 2rem 2rem 2rem;
  position: absolute;
  width: calc(100% - 8rem);
}

.notifyMeButton {
  color: #141921;
  border-style: none;
  font-size: 16px;
  background: #ffffff;
  border-radius: 0;
  padding: 12px 24px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: all 0.5s ease 0s;
  cursor: pointer;
  width: 100%;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-family: "Manrope";
}

.notifyMeButton:hover {
  transform: scale(1.05);
}

.notifyMeInput {
  height: 35px;
  font-family: "Manrope";
  margin-bottom: 1rem;
  width: 100%;
  font-size: 16px;
  padding: 0 0 5px;
  width: 100%;
  font-size: 16px;
  background: #141921;
  border: 0;
  border-bottom: 1px solid #efeeef;
  color: #fefefe;
}

.notifyMeInput::placeholder {
  text-transform: lowercase;
  letter-spacing: 2px;
}

.notifyMeInput:focus,
.notifyMeInput:focus-visible {
  outline: transparent auto 0;
}

@media (min-width: 1025px) {
  .subscribeFormWrapper {
    max-width: 49rem !important;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    position: relative;
    width: auto;
    bottom: 0;
  }

  .notifyMeInput {
    width: calc(100% - 350px);
    margin-bottom: 0;
    padding: 5px 0;
  }

  .notifyMeButton {
    width: 300px;
  }
}
