.subscribeFormWrapper {
    margin-top: 2rem;
    font-family: 'Manrope';
    background: #141921;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4rem 2rem;
}

.notifyMeButton {
    color: #141921;
    border-style: none;
    font-size: 16px;
    background: #ffffff;
    border-radius: 0;
    padding: 12px 24px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    width: 170px;
}

.notifyMeInput {
    height: 25px;
    margin-bottom: 40px;
    width: calc(100% - 10px);
    font-size: 16px;
    padding: 5px;
    background: #141921;
    border: 0;
    border-bottom: 1px solid #efeeef;
    color: white;
}

.notifyMeInput:focus,
.notifyMeInput:focus-visible {
    outline: transparent auto 0;
}

@media (min-width: 1281px) {
    .subscribeFormWrapper {
        max-width: 45rem!important;
    }
}
