$light-blue: #00b7f0;
$light-white: #fafafa;
$light-gray: #dfe0e1;
$gray: #999999;
$edgy-black: #25272d;
$edgy-red: #e12d35;
$cadet-blue: #52a7a7;
$cyan: #00B7F0;
$eerie-black: #141921;
$quick-silver: #a5a5a5;
