@import "shared/styles/variables.scss";

body {
  margin: 0;
  font-family: "Manrope";
}

.manifestoContainer {
  display: flex;
  flex-direction: column;
  border: 0;
}

.banner {
  height: 5rem;
  background-size: cover;
  background-position: center;
  margin: 0 -32px;
}

.banner-top {
  margin-bottom: 4rem;
  background-image: url(assets/images/manifesto/hero-bottom.jpg);
}

.banner-bottom {
  margin-top: 4rem;
  background-image: url(assets/images/manifesto/hero-top.jpg);
}

.manifestoMain {
  flex: 1;
  background: $edgy-red;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.manifesto-content {
  padding-top: 6.3rem;
}

.content {
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 43px;
  font-weight: 700;
}

.accordion-button {
  font-size: 43px;
  font-weight: 400;
}

.accordion-content {
  padding: 2rem 1rem 4rem 0.5rem;
  white-space: pre-line;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
}

hr {
  border: 0;
  border-top: 2px solid $light-gray;
}

// Desktop
@media (min-width: 1100px) {
  .manifestoContainer {
    flex-direction: row;
    height: 100vh;
  }

  .manifestoMain {
    flex: 70%;
    flex-direction: row;
    overflow: auto;
    padding: 0 2rem 0 0;
  }

  .banner {
    height: 9rem;
  }

  .manifesto-content {
    padding-top: 0;
    text-align: left;
    width: 100%;
  }

  .accordion {
    display: flex;
    flex-wrap: wrap;
  }

  .accordion-content {
    font-weight: 300;
  }

  .accordion-item {
    flex: auto;
    width: 30%;
    padding: 0 1rem;
  }

  .accordion-title {
    cursor: auto;
  }

  hr,
  .accordion-button {
    display: none;
  }
}

@media (min-width: 1100px) {
  .banner-top {
    background-image: url(assets/images/manifesto/hero-top.jpg);
  }

  .banner-bottom {
    background-image: url(assets/images/manifesto/hero-bottom.jpg);
  }
}
