._1udoG {
  position: fixed;
  left: calc(50% - 190px);
  bottom: 0px;
  z-index: 1201;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  box-shadow: rgb(0 0 0 / 10%) 0px 24px 32px, rgb(0 0 0 / 10%) 0px 8px 32px;
  border: 1px solid #e13b3a;
  margin: 0 auto 30px;
  background: rgb(19 25 33 / 90%);
  font-size: 13px;
  padding: 10px 15px;
  width: 350px;
  border-radius: 0px;
}

._2XtTe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-radius: 0px;
}

._ko_Hb:hover {
  transform: scale(1.02);
}

._1OJEx {
  display: none;
}

._ko_Hb:last-child {
  display: none;
}

._XmBh7::before {
  display: none;
  content: "\1F36A";
  font-size: 2em;
}

._1OJEx {
  display: none;
}

._1CwYG {
  color: #000000;
  font-size: 0.8em;
  margin: 0 20px;
}

._3P9Kz {
  display: flex;
  align-items: center;
  flex-direction: column;
}

._ko_Hb {
  border-style: none;
  color: #ffffff;
  width: 100%;
  font-size: 0.8em;
  background: #e13b3a;
  border-radius: 0;
  padding: 12px 24px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 2px;
}

._1GmO6:hover {
  background: #ffffff;
  color: #131921;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

._1GmO6:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

._1GmO6:focus {
  outline: 0;
}

._LCP8o {
  font-size: 0.8em;
  height: auto;
  color: #b5b5b5;
  padding: 10px 18px;
  border: 1px solid #b5b5b5;
  border-radius: 24px;
  box-shadow: none;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.5s ease 0s;
  margin: 5px;
  display: none;
}

._LCP8o:hover {
  color: #000000;
  border-color: #000000;
}

@media screen and (min-width: 320px) {
  ._1pNzT {
    max-width: 250px;
  }

  ._1CwYG {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 375px) {
  ._1pNzT {
    max-width: 300px;
  }
}

@media screen and (min-width: 425px) {
  ._1pNzT {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  ._1pNzT {
    max-width: 700px;
  }

  ._1CwYG {
    font-size: 0.9em;
  }

  ._1rYuN {
    flex-direction: row;
  }
}

@media screen and (min-width: 1100px) {
  ._1pNzT {
    max-width: 700px;
  }

  ._1udoG {
    right: 1rem;
    left: auto;
    width: 370px;
    border: 1px solid #e13b3a;
    bottom: 8rem;
  }
}

@media (prefers-color-scheme: dark) {
  ._1pNzT {
    background: #e23a39;
  }

  ._1CwYG {
    color: #ffffff;
  }

  ._1GmO6 {
    background: #141921;
    color: #ffffff;
  }

  ._1GmO6:hover {
    background: #ffffff;
    color: #141921;
  }

  ._LCP8o:hover {
    color: #ffffff;
    border-color: #ffffff;
  }
}
