@import "shared/styles/variables.scss";

.html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(
    255,
    255,
    255,
    0
  ); // remove tap highlight color
}

body {
  margin: 0;
  font-family: "Manrope";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-main {
  flex: 60%;
  background: $edgy-black;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 4rem);
  padding: 8rem 2rem 0;
}

.hero {
  flex: 40% 0;
  background-image: url(assets/images/background/mercado-red.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: auto;
  padding: 2rem;
}

.google-calendar {
  position: inherit;
}

.google-calendar,
.mailto {
  text-decoration: none;
  color: inherit;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-full {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top {
  font-size: 2.5em;
  padding-bottom: 2rem;
  max-width: 600px;
}

.bottom {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homeArrowDown {
  max-height: 3rem;
  cursor: pointer;
  padding: 0 1rem;
}

.serving {
  max-width: 350px;
}

.highlight {
  // color: $edgy-red;
}

.deadline-date {
  color: $edgy-black;
  font-weight: 600;
  padding-left: 1px;
}

.upcomingEvent {
  background: $light-gray;
  margin: 0 -2rem;
  color: $edgy-black;
  padding: 2rem 2rem 2rem;
  position: relative;
}

.upcomingEventTitle {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem 0;
}

.upcomingEventBanner {
  position: relative;

  & > img {
    width: 100%;
    opacity: 0.7;
  }

  & > div:first-child {
    width: 100% !important;
    height: 50vw !important;
    background: $light-gray;
  }
}

.upcomingEventDate {
  position: absolute;
  left: 0;
  top: 1rem;
  color: $light-gray;
  margin: 0 0px 0 -5px;
  background: $edgy-red;
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  font-weight: 200;
  box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 50%);
}

.upcomingEventAuthorDate {
  padding: 1rem 0 0;
}

.upcomingEventAuthor {
  font-weight: 900;
  padding: 1rem 0;
  font-size: 1rem;
  display: inline;
}

.upcomingEventAuthor > a {
  color: $edgy-red;
  font-weight: 400;
  text-decoration: none;
}

.upcomingEventHour {
  color: $edgy-red;
  position: relative;
  font-size: 0.8rem;
  padding: 0 1rem;
  display: inline;

  &:before {
    content: "";
    width: 1rem;
    position: absolute;
    border: 1px solid $edgy-red;
    top: 0.6rem;
  }

  & > span {
    padding: 0 2rem;
  }
}

.upcomingEventName {
  font-size: 1.5rem;
  font-weight: 500;
}

.upcomingEventClaim {
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-top: 2px solid $edgy-black;
  border-bottom: 2px solid $edgy-black;
  position: relative;
  justify-content: space-between;
  margin-bottom: 5rem;

  & > a {
    text-decoration: none;
    color: inherit;
  }

  & > img {
    cursor: pointer;
  }
}

.claimMessage {
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    width: 100%;
    border-top: 10px solid rgba(225, 59, 58, 0.5);
    position: absolute;
    bottom: 0;
  }
}

.upcomingEventClaim > a:hover {
  transform: scale(1.02);
  transform-origin: 0 0;
}

.claimArrowRight {
  width: 2rem;
  margin-top: 5px;
}

.justBorder {
  -webkit-text-stroke: 1px $light-gray; /* width and color */
  color: transparent;
}

.bottomHomePlaceholder {
  display: flex;
  justify-content: center;
  background-image: url("assets/images/background/anemona-red.jpg");
  background-size: cover;
  height: 14rem;
  opacity: 1;
  margin: 0rem -2rem;
  position: relative;
}

.onlyDesktop {
  display: none;
}

.getTicketFormWrapper {
  margin-top: 2rem;
  font-family: "Manrope";
  background: $edgy-black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4rem 2rem;

  & > .form {
    width: 100%;
  }

  & > .form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.getTicketButton {
  margin-bottom: 3rem;

  > button {
    width: 50%;
    border: 0;
    height: 3rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    color: $light-gray;
    background: $edgy-black;
    letter-spacing: 2px;
    transition: all 0.2s ease 0s;

    &:disabled {
      background: #c3c4c6;
      color: #3d4248;
      pointer-events: none;
    }

    &:hover {
      background: $edgy-red;
      color: #e8e8e8;
      transform: scale(1.02);
    }
  }
}

.getTicketInput {
  height: 25px;
  width: 90%;
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 1rem;
  background: $light-gray;
  border: 0;
  border-left: 0.2rem solid $edgy-black;
  color: $edgy-black;

  &::placeholder {
    letter-spacing: 2px;
  }
}

.getTicketInput:focus,
.getTicketInput:focus-visible {
  outline: transparent auto 0;
}

.getTicketError {
  font-size: 13px;
  color: $edgy-red;
}

.getTicketSuccess {
  font-size: 13px;
  color: #4bb543;
}

.getTicketReCaptcha {
  padding-bottom: 50px;
}

.save-the-date-container {
  background: rgb(19 25 33 / 100%);
  padding: 1rem;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  opacity: 1;

  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
}

.save-the-date-container:hover {
  box-shadow: inset 0px -5px 0 0 $edgy-red;
  transform: scale(1.02);
  transform-origin: bottom;
}

.save-the-date-container > .day {
  font-size: 1.5rem;
  font-weight: 200;
  color: $light-gray;
  line-height: 2rem;
}

.save-the-date-container > .month {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  color: $light-gray;
  padding-left: 5px;
}

.save-the-date-container > .year {
  font-size: 1.5rem;
  color: $light-gray;
  font-weight: 200;
}

.save-the-date-container > .venue {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  letter-spacing: 15x;
}

.save-the-date-container > .venue > div:nth-of-type(1) {
  font-size: 0.8rem;
  padding-left: 5px;
}

.save-the-date-container > .venue > div:nth-of-type(2) {
  font-weight: 900;
  font-size: 0.8rem;
  padding-left: 5px;
}

.save-the-date-container > .venue > div:nth-of-type(3) {
  font-size: 0.8rem;
  padding-left: 5px;
}

.call-out-container {
  background: $light-gray;
  display: flex;
  padding: 0.5rem 1rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.call-out-container:hover {
  box-shadow: inset 0px 5px 0 0 $edgy-red;
  transform: scale(1.02);
  transform-origin: top;
}

.highlight-gradient-text-light {
  font-weight: 700;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  color: $edgy-red;
}

.highlight-gradient-text-dark {
  font-weight: 700;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: $edgy-red;
}

.deadline {
  width: 100%;
  text-align: center;
  color: $edgy-black;
  letter-spacing: 1px;
  font-size: 0.8rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.intro-full,
.home-full {
  height: 100%;
}

// Desktop
@media (min-width: 1100px) {
  .onlyDesktop {
    display: inline;
  }

  .container {
    flex-direction: row;
    overflow-x: hidden;
    // border-left: 2rem solid white;
  }

  .event-name {
    font-size: 2rem;
    padding-top: 2rem;
  }

  .highlight-water {
    font-family: "Water Brush", cursive;
    color: $cadet-blue;
    font-size: 3.2rem;
  }

  .place-and-date {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .place {
      color: $edgy-black;
      padding: 1rem 1rem 1rem 0;
      font-size: 0.8rem;
      display: inline;
      z-index: 1;
      background: $light-gray;
    }

    > .place > a {
      font-weight: 600;
    }

    > .date {
      color: $quick-silver;
      position: relative;
      font-size: 0.8rem;
      padding: 1rem 0 1rem 1rem;
      display: inline;
      z-index: 1;
      background: $light-gray;
    }

    &:after {
      content: "";
      width: 100%;
      position: absolute;
      border: 1px solid #a5a5a5;
      top: 1.5rem;
    }
  }

  .event-outcomes-image {
    width: 100%;
  }

  .event-outcomes {
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  
  .event-outcomes-row {
    width: 5rem;
    padding: 2rem;
    height: 5rem;
    background: $light-gray;
    color: $edgy-black;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 5rem;
  }
  
  .event-outcomes-number {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .event-outcomes-text {
    font-size: 1.1rem;
  }

  .upcomingEventClaim {
    margin-bottom: 0rem;
  }

  .event > a {
    font-size: 3rem;
    text-decoration: none;
    color: $light-gray;
    font-weight: 900;
  }

  .intro {
    justify-content: space-between;
    padding: 8.5rem 0 7rem 7.2rem;
    width: 22.75rem;
    z-index: 2;
    height: auto;
    position: relative;
  }

  .home-main {
    flex: 70%;
    flex-direction: row;
    padding: 0;
    width: auto;
  }

  .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-position: center;
    position: relative;
    height: auto;
    border-radius: 0;
    padding: 0;
  }

  .google-calendar {
    z-index: 5;
    position: absolute;
    top: -1rem;
    left: -12rem;
  }

  .save-the-date-container {
    align-items: flex-end;
    background: linear-gradient(111deg, transparent 50%, $light-gray 0);
    border: 0;
    border-radius: 1rem;
    box-shadow: 10px -10px 0 0 $edgy-black;
    color: #ffabab;
    display: flex;
    flex-direction: column;
    height: 10.5rem;
    justify-content: flex-end;
    margin: 0 3rem -2rem;
    opacity: 1;
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: right;

    width: 11rem;
  }

  .save-the-date-container > .day {
    color: $edgy-red;
    font-size: 3.5rem;
    line-height: 3.2rem;
    letter-spacing: 15px;
  }

  .save-the-date-container > .month {
    color: $edgy-red;
    font-size: 1.3rem;
    letter-spacing: 7px;
    line-height: 20px;
  }

  .save-the-date-container > .year {
    color: $edgy-red;
    font-size: 1.2rem;
    letter-spacing: 4px;
  }

  .save-the-date-container > .venue {
    color: $edgy-black;
    flex-direction: column;
    line-height: 1.25rem;
    padding-top: 0.5rem;
  }

  .save-the-date-container > .venue > div:nth-of-type(1) {
    letter-spacing: 2px;
    font-weight: 400;
  }

  .save-the-date-container > .venue > div:nth-of-type(2) {
    letter-spacing: 2px;
    font-weight: 900;
  }

  .save-the-date-container > .venue > div:nth-of-type(3) {
    font-weight: 400;
    letter-spacing: 2.4px;
  }

  .save-the-date-container:hover {
    box-shadow: 10px -10px 0px 0px $edgy-red;
    transform: scale(1.02);
    transform-origin: top;
    animation: none;
    cursor: pointer;
  }

  .call-out-container {
    display: block;
    border: 0;
    background: $light-gray;
    box-shadow: 10px 10px 0px 0px $edgy-black;
    margin: 0 -1rem 4rem;
    padding: 0.5rem 3rem 1rem 2rem;
    border-radius: 0 1rem;
  }

  .call-out-container:hover {
    box-shadow: 10px 10px 0px 0px $edgy-red;
    transform: scale(1.02);
    transform-origin: bottom;
    cursor: pointer;
  }

  .venue {
    text-align: right;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .deadline {
    text-align: left;
    font-size: 0.6rem;
    letter-spacing: 1px;
  }

  .highlight-gradient-text-light {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    color: $edgy-red;
    text-align: center;
  }

  .highlight-gradient-text-dark {
    font-size: 1.7rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    color: $edgy-red;
    text-align: center;
  }

  .menu {
    padding: 4rem 2rem;
  }

  .top {
    padding: 0 0 2rem 0;
    font-size: 3.6em;
    line-height: 4.5rem;
    font-weight: 600;
    width: 35rem;
  }

  .bottom {
    font-size: 18px;
    position: relative;
    width: 29rem;
  }

  .home-full {
    flex: 1;
    height: 100%;
    width: calc(100vw - 14rem);
    overflow: scroll;
    overflow-x: hidden;
    background: $light-gray;
  }

  .home-full > .intro-full {
    display: flex;
    background: $edgy-black;
  }

  .intro-full {
    flex-direction: row;
    height: 100vh;
    min-height: auto;
  }

  .home-full > .upcomingEventFull {
    display: flex;
    background: $edgy-black;
    height: auto;
  }

  .homeArrowDown {
    width: 4rem;
    position: absolute;
    animation: up-and-down 2.66s ease-in-out infinite;
  }

  @keyframes up-and-down {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(24px);
    }
  }

  .serving {
    margin-left: 7rem;
    max-width: 18rem;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.2rem;
  }

  .upcomingEvent {
    margin: 0;
    position: relative;
    z-index: 3;
    width: auto;
    padding: 2rem 0 0 2rem;
  }

  .upcomingEventBanner {
    & > div:first-child {
      width: 53rem !important;
      height: 30rem !important;
    }
  }

  .upcomingEvent > div:not(:last-child) {
    width: 53rem;
  }

  .upcomingEventAuthorDate {
    text-align: left;
  }

  .upcomingEventName {
    text-align: left;
  }

  .upcomingEventFull {
    width: 100%;
    background: $light-gray !important;
    position: relative;
  }

  .filler {
    height: auto;
    margin: 2rem 0 0 2rem;
    width: 100%;
    background-image: url(assets/images/background/beach-white.jpg);
    background-position: left;
    background-size: cover;
    position: relative;
  }

  .filler::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(239, 239, 239, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .bottomHomePlaceholder {
    margin: 2rem 0 0 2rem;
    width: 100%;
    height: 8rem;
    position: relative;
  }

  .getTicketFormWrapper {
    max-width: 45rem !important;

    & > form {
      width: 100%;
    }
  }

  .getTicketButton {
    margin-bottom: 0;
  }

  .getTicketInput {
    height: 25px;
    width: 50%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 1rem;
    background: $light-gray;
    border: 0;
    border-left: 0.2rem solid $edgy-black;
    color: $edgy-black;

    &::placeholder {
      letter-spacing: 2px;
    }
  }

  .mailto {
    align-items: end;
    display: flex;
    flex-direction: column;
  }

  .google-calendar,
  .mailto {
    transform: scale(1.02);
  }

  .ocean {
    height: 2rem;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $edgy-black;
  }

  .wave1 {
    background: url("../../assets/images/wave.svg") repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave2 {
    background: url("../../assets/images/wave.svg") repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave2 {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
      swell 7s ease -1.25s infinite;
    opacity: 1;
  }

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
}
