@import "shared/styles/variables.scss";

body {
  margin: 0;
  font-family: "Manrope";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-main {
  flex: 60%;
  background: $edgy-black;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem 0;
}

.hero {
  flex: 40%;
  background-image: url(assets/images/background/mercado-red.jpg);
  background-size: cover;
  background-position: top;
}

.mailto {
  text-decoration: none;
  color: inherit;
  min-width: 50%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introFull {
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
}

.top {
  font-size: 2.5em;
  padding-bottom: 2rem;
  max-width: 600px;
}

.bottom {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homeArrowRight {
  max-height: 7rem;
}

.serving {
  max-width: 350px;
}

.highlight {
  color: $edgy-red;
}

.upcomingEvent {
  background: $light-gray;
  margin: 0 -2rem;
  color: $edgy-black;
  padding: 2rem 2rem 2rem;
  position: relative;
}

.upcomingEventTitle {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem 0;
}

.upcomingEventBanner {
  position: relative;

  & > img {
    width: 100%;
    opacity: 0.7;
  }

  & > div:first-child {
    width: 100% !important;
    height: 50vw !important;
    background: #efefef;
  }
}

.upcomingEventDate {
  position: absolute;
  left: 0;
  top: 1rem;
  color: #efefef;
  margin: 0 0px 0 -5px;
  background: $edgy-red;
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  font-weight: 200;
  box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 50%);
}

.upcomingEventAuthorDate {
  padding: 1rem 0 0;
}

.upcomingEventAuthor {
  color: $edgy-red;
  font-weight: bold;
  padding: 1rem 0;
  font-size: 1rem;
  display: inline;
}

.upcomingEventAuthor > a {
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.upcomingEventHour {
  color: $edgy-red;
  position: relative;
  font-size: 0.8rem;
  padding: 0 1rem;
  display: inline;

  &:before {
    content: "";
    width: 1rem;
    position: absolute;
    border: 1px solid $edgy-red;
    top: 0.6rem;
  }

  & > span {
    padding: 0 2rem;
  }
}

.upcomingEventName {
  font-size: 1.6rem;
}

.upcomingEventClaim {
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  justify-content: space-between;
  margin-bottom: 5rem;

  & > a {
    text-decoration: none;
    color: inherit;
  }

  & > img {
    cursor: pointer;
  }
}

.claimMessage {
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    width: 100%;
    border-top: 10px solid rgba(225, 59, 58, 0.5);
    position: absolute;
    bottom: 0;
  }
}

.upcomingEventClaim > a:hover {
  transform: scale(1.02);
  transform-origin: 0 0;
}

.claimArrowRight {
  width: 2rem;
  margin-top: 5px;
}

.justBorder {
  -webkit-text-stroke: 1px $light-gray; /* width and color */
  color: $edgy-black;
}

.bottomHomePlaceholder {
  display: flex;
  justify-content: center;
  background-image: url("assets/images/background/anemona-red.jpg");
  background-size: cover;
  height: 10rem;
  opacity: 1;
  margin: 0rem -2rem;
  position: relative;
}

.onlyDesktop {
  display: none;
}

.getTicketFormWrapper {
  margin-top: 2rem;
  font-family: "Manrope";
  background: #141921;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4rem 2rem;

  & > .form {
    width: 100%;
  }

  & > .form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.getTicketButton {
  margin-bottom: 3rem;

  > button {
    width: 50%;
    border: 0;
    height: 3rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    color: #efefef;
    background: #131921;

    &:disabled {
      background: #c3c4c6;
      color: #3d4248;
      pointer-events: none;
    }

    &:hover {
      background: $edgy-red;
      color: #e8e8e8;
    }
  }
}

.getTicketInput {
  height: 25px;
  width: 90%;
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 1rem;
  background: #efefef;
  border: 0;
  border-left: 0.2rem solid #131921;
  color: #131921;
}

.getTicketInput:focus,
.getTicketInput:focus-visible {
  outline: transparent auto 0;
}

.getTicketError {
  font-size: 13px;
  color: #e13b3a;
}

.getTicketSuccess {
  font-size: 13px;
  color: #4bb543;
}

.getTicketReCaptcha {
  padding-bottom: 50px;
}

.call-out-container {
  background: #efefef;
  display: flex;
  padding: 0.5rem 1rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -1px;
  box-shadow: 0px 5px 200px 0 #131921;
}

.highlight-gradient-text {
  font-weight: 700;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(
    180deg,
    rgb(19 25 33) 20%,
    rgb(19 25 33) 35%,
    rgb(225, 59, 58) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deadline {
  width: 100%;
  text-align: center;
  color: #131921;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

// Desktop
@media (min-width: 1100px) {
  .onlyDesktop {
    display: inline;
  }

  .container {
    flex-direction: row;
    overflow-x: hidden;
    // border-left: 2rem solid white;
  }

  .upcomingEventClaim {
    margin-bottom: 0rem;
  }

  .event > a {
    font-size: 3rem;
    text-decoration: none;
    color: $light-gray;
    font-weight: 900;
  }

  .intro {
    justify-content: center;
    max-width: 20rem;
    padding-right: 6rem;
    padding-left: 2rem;
    z-index: 2;
    height: auto;
  }

  .home-main {
    flex: 70%;
    flex-direction: row;
    padding: 0;
  }

  .hero {
    flex: 30% 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-position: center;
  }

  .call-out-container {
    display: block;
    border: 0;
    background: #efefef;
    margin: 2rem 2rem 1.5rem;
    box-shadow: 10px 10px 0px 0px #ffabab;
    padding: 0.5rem 2rem 1rem;
  }

  .call-out-container:hover {
    box-shadow: 10px 10px 0px 0px #131921;
    transform: scale(1.02);
    cursor: pointer;
  }

  .deadline {
    text-align: left;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .highlight-gradient-text {
    font-size: 1.7rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(
      180deg,
      rgb(19, 25, 33) 20%,
      rgb(19, 25, 33) 35%,
      rgb(225, 59, 58) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .menu {
    padding: 4rem 2rem;
  }

  .top {
    padding-bottom: 3rem;
    font-size: 3.4em;
    line-height: 3.5rem;
  }

  .bottom {
    font-size: 18px;
    position: relative;
  }

  .home-full {
    flex: 1;
    height: 100%;
    width: calc(100vw - 14rem);
    overflow: scroll;
    overflow-x: hidden;
    background: $light-gray;
  }

  .home-full > .introFull {
    display: flex;
    background: #131921;
  }

  .introFull {
    flex-direction: row;
  }

  .home-full > .upcomingEventFull {
    display: flex;
    background: #131921;
    height: auto;
  }

  .homeArrowRight {
    width: 20%;
  }

  .serving {
    margin-left: 10px;
    max-width: 25rem;
  }

  .upcomingEvent {
    margin: 0;
    position: relative;
    z-index: 3;
    width: auto;
    padding: 2rem 0 0 2rem;
  }

  .upcomingEventBanner {
    & > div:first-child {
      width: 53rem !important;
      height: 30rem !important;
    }
  }

  .upcomingEvent > div:not(:last-child) {
    width: 53rem;
  }

  .upcomingEventAuthorDate {
    text-align: left;
  }

  .upcomingEventName {
    text-align: left;
  }

  .upcomingEventFull {
    width: 100%;
    background: $light-gray !important;
    position: relative;
  }

  .filler {
    height: auto;
    margin: 2rem 0 0 2rem;
    width: 100%;
    background-image: url(assets/images/background/beach-white.jpg);
    background-position: left;
    background-size: cover;
    position: relative;
  }

  .filler::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(239, 239, 239, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .bottomHomePlaceholder {
    margin: 2rem 0 0 2rem;
    width: 100%;
    height: 8rem;
    position: relative;
  }

  .getTicketFormWrapper {
    max-width: 45rem !important;

    & > form {
      width: 100%;
    }
  }

  .getTicketButton {
    margin-bottom: 0;
  }

  .getTicketInput {
    height: 25px;
    width: 50%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 1rem;
    background: #efefef;
    border: 0;
    border-left: 0.2rem solid #131921;
    color: #131921;
  }

  .mailto {
    align-items: end;
    display: flex;
    flex-direction: column;
  }
  .mailto {
    transform: scale(1.02);
  }

  .ocean {
    height: 2rem;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $edgy-black;
  }

  .wave1 {
    background: url("../../assets/images/wave.svg") repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave2 {
    background: url("../../assets/images/wave.svg") repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave2 {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
      swell 7s ease -1.25s infinite;
    opacity: 1;
  }

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
}
