@import "shared/styles/variables.scss";

body {
  margin: 0;
  font-family: "Manrope";
}

.partnerContainer {
  display: flex;
  flex-direction: column;
  background: $edgy-red;
  min-height: 100vh;
  padding-top: 6rem;
}

.partnersContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 0;
}

.partnerMain {
  flex: 60%;
  background: $edgy-red;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.partnersMain {
  flex: 60%;
  background: $edgy-black;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.partners-content {
  flex: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  text-align: left;
  padding-top: 6.3rem;
}

.partner-content {
  flex: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.partner-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  background-image: url("assets/images/background/anemona-red.jpg");
  background-size: cover;
  margin: 0;
}

.partner-footer > div {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $edgy-black;
  margin: -10rem 4rem 4rem;
  padding: 1rem;
  box-shadow: 0px 0px 0px 1rem $light-gray;
  max-width: 40%;
}

.partner-logo {
  padding: 1rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.partner-logo a img {
  width: 9rem;
}

.partner-socials {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-self: center;
  height: 2rem;
  padding: 0;
}

.partner-socials ul {
  padding: 0em;
}

.partner-socials ul li {
  display: inline-block;
  justify-content: center;
}

.partner-socials > a > svg {
  color: $light-gray;
  padding: 0;
  font-size: 2rem;
  display: inline;
}

.partner-socials > a > svg:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.partner-name h1 {
  font-weight: 600;
  font-size: 3rem;
}

.partner-mission {
  font-size: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;

  & > span {
    padding-left: 11vw;
  }
}

.partner-description {
  padding: 2rem 2rem 12rem;
  background: $light-gray;
  color: $edgy-black;
  margin: 0 -2rem;
  font-size: 1rem;
}

.partnerArrowDown {
  width: 4rem;
  left: 0;
  bottom: 0;
  margin: 0rem 2rem 0 0;
}

.image {
  max-height: 75%;
  margin: 0 -2rem;
  object-fit: cover;
}

.outcomes {
  z-index: 1;
}

.outcomes ul {
  padding-left: 0;
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 0rem 2rem 2rem;
}

.outcomes ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.outcomes ul li:hover {
  background-color: $light-gray;
  color: $light-blue;
}

.outcomes ul li span {
  font-size: 2rem;
}

.outcomes-row {
  width: calc(100% - 4rem);
  padding: 2rem 2rem;
  background: $light-gray;
  color: $edgy-red;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.outcomes-row:last-child {
  margin-bottom: -2rem;
}

.outcomes-number {
  font-size: 15vw;
  font-weight: 600;
}

.outcomes-text {
  padding-bottom: 2rem;
  font-size: 5vw;
}

.partnerMatrix {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60%, 0.75fr));
  grid-gap: 0.75rem;
  gap: 0.75rem;
}

.sponsorMatrix {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 0.75rem;
  gap: 0.75rem;
}

.sponsors > .sponsorMatrix > *,
.sponsors > .partnerMatrix > * {
  width: 100%;
}

.card-invite {
  background-color: $edgy-black;
  border: 2px dashed $light-gray;
  font-size: 4vw;
  font-weight: bold;
  text-align: left;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.card-invite .invite-message {
  padding: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.mail a {
  text-decoration: underline;
  color: $light-gray;
}

.partner-name {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
}

.sponsors-title,
.media-title {
  font-weight: 900;
  font-size: 43px;
}

.carousel-item .card-link,
.carousel-item .arrow {
  display: none;
}

.carousel-item .card .content {
  margin: 5px;
}

// Desktop
@media (min-width: 1100px) {
  .partnerContainer {
    padding-top: 0;
    flex-direction: row;
  }

  .partnersContainer {
    flex-direction: row;
  }

  .partnerMain {
    flex: 70% 1;
    flex-direction: row;
    overflow: auto;
    padding: 0;
  }

  .partnersMain {
    flex: 70%;
    flex-direction: row;
    overflow: auto;
    padding: 0 2rem 0 0;
  }

  .sponsors,
  .media {
    padding: 5rem 1rem 0 2rem;
  }

  .image {
    margin: 0;
  }

  .card-invite {
    font-size: 2vw;
  }

  .sponsors-title,
  .media-title {
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 43px;
    padding: 0 0 2rem;
  }

  .secondImage {
    margin: -8rem 0rem 0 0rem;
  }

  .sponsorMatrix {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }

  .partnerMatrix {
    grid-template-columns: repeat(auto-fit, minmax(20%, 0.3fr));
    padding-bottom: 7rem;
  }

  .partners-content {
    padding-top: 1.4rem;
  }

  .partner-footer {
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  .partner-description {
    padding: 4rem 4rem 14rem;
    font-size: 1.2rem;
    margin: 0;
  }

  .partner-logo > a {
    text-align: right;
    width: 100%;
  }

  .partner-socials {
    align-self: center;
  }

  .partner-socials > a > svg {
    font-size: 2rem;
  }

  .partnerArrowDown {
    left: 0rem;
    bottom: 0;
    width: 4rem;
    margin: 0rem 2rem 0rem 0rem;
  }

  .partner-mission {
    padding: 0rem 0rem 2rem 0;
    justify-content: flex-start;
    font-size: 2rem;

    & > span {
      padding-left: 5rem;
      width: 40rem;
      text-align: left;
    }
  }

  .partner-content {
    height: calc(100vh - 14rem);
    overflow: scroll;
    padding: 7rem 0 0 2rem;
  }

  .outcomes {
    display: flex;
    justify-content: space-around;
  }

  .outcomes-text {
    font-size: 1rem;
  }

  .outcomes-number {
    font-size: 4rem;
  }

  .outcomes-row {
    min-width: 17%;
    width: 17%;
    background: $edgy-red;
    color: $light-gray;
  }

  .outcomes-row:last-child {
    margin-bottom: 5rem;
  }
}
