@import "shared/styles/variables.scss";

.scanMain {
  flex: 1;
  background: $edgy-red;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scanContainer {
  height: 100vh;
}

.scan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
